[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-htmx = "*"
sqlmodel = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
